.button {
	background: #0077ff;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	background-color: #0454af;
}

.arrow {
	margin-left: 10px;
	width: 24px;
}
