.subHeading {
	color: #c4c5c5;
	text-align: center;
	margin-bottom: 1em;
}

.avatarWrapper {
	width: 110px;
	height: 110px;
	border: 6px solid #0077ff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.avatar {
	object-fit: cover;
}

.avatarInput {
	display: none;
}

.avatarLebel {
	color: #0077ff;
	text-decoration: underline;
	margin: 1.875em 0;
	display: inline-block;
	cursor: pointer;
}
