.card {
	background: #1d1d1d;
	padding: 1.25em;
	border-radius: 0.625em;
	cursor: pointer;
	position: relative;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease-in-out;
}

.card:hover {
	background: #1b1b1b;
}

.speakers {
	display: flex;
	align-items: center;
	position: relative;
	margin: 1.25em 0;
}

.avatars img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #20bd5f;
	position: absolute;
	top: 0;
	left: 0;
	background: #1d1d1d;
}

.avatars img:last-child {
	top: 1.25em;
	left: 1.25em;
}

.nameWrapper {
	display: flex;
	align-items: center;
}

/* chat icon */
.nameWrapper img {
	width: 1rem;
}

.names {
	margin-left: 5.5em;
}

.names span {
	display: inline-block;
	padding-bottom: 0.3125em;
	margin-right: 0.3125em;
}

.peopleCount {
	text-align: end;
}

.peopleCount span {
	font-weight: bold;
	margin-right: 0.3125em;
}

.singleSpeaker .avatars img {
	position: initial;
}

.singleSpeaker .names {
	margin-left: 1.25em;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .roomType {
	text-transform: capitalize;
	color: #c4c5c5;
	font-weight: bold;
}

.deleteButton {
	visibility: hidden;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	background: #333;
	border-radius: 50%;
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

/* delete icon */
.deleteButton img {
	width: 1.25rem;
}

.deleteButton:hover {
	background: #e23944;
}

.active {
	visibility: visible;
}
