.roomsHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1.25em 0;
}

.left {
	display: flex;
	align-items: center;
}

.heading {
	font-size: 1.25rem;
	font-weight: bold;
	position: relative;
}

.searchBox {
	background: #262626;
	margin-left: 1.25em;
	display: flex;
	align-items: center;
	padding: 0 0.625em;
	min-width: 300px;
	border-radius: 1.25em;
}

.searchBox img {
	width: 1.5em;
}

.searchInput {
	background: transparent;
	border: none;
	outline: none;
	padding: 0.625em;
	color: #fff;
	width: 100%;
}

.heading::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 60%;
	height: 4px;
	background: #0077cc;
}

.startRoomButton {
	display: flex;
	align-items: center;
	background: #20bd5f;
	padding: 0.5em 1.25em;
	border-radius: 1.25em;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.startRoomButton img {
	width: 1.5em;
}

.startRoomButton span {
	font-size: 1rem;
	margin-left: 0.625em;
}

.startRoomButton:hover {
	background: #0f6632;
}

.roomsList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.25em;
	margin: 3.75em 0;
}

@media screen and (max-width: 480px) {
	.roomsList {
		grid-template-columns: repeat(1, 1fr);
	}
	.searchBox {
		display: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	.roomsList {
		grid-template-columns: repeat(2, 1fr);
	}
}
